<div class="ui segment front-class student-class">
  <h2>我的课程</h2>
  <% if @courses %>
      <% @courses.each do |c| %>
          <div class="item">
            <h4><%= c.name %></h4>

            <p class="sub-class"><%= User.by_course_id(c.course_id).pluck(:name).join(',') %></p>

            <p><span>课程描述：</span><span><%= c.description %></span></p>

            <p><span>授课时间：</span><span> <%= c.period_display %> </span></p>

            <p class="class-state"><span>课程状态：</span><span><%= c.status_display %></span></p>
            <a class="mini ui teal button" href="/homeworks/index/<%= c.course_id %>">
              进入课堂
            </a>
          </div>
      <% end %>
  <% end %>
</div>


