<div class="ui segment student-homework" id="student-homework">
  <div class="ui ignored positive icon message">
    <i class="lab icon"></i>

    <div class="content">
      <h3 class="header">当前作业</h3>

      <p>请通过<i class="icon download disk"></i>下载相关附件，最终应该以老师要求的格式通过<i class="icon upload disk"></i>上传作业</p>
    </div>
  </div>
  <ul>
    <% if @homeworkds %>
        <% @homeworkds.each do |h |%>
        <li>
          <table class="ui table segment">
            <tbody>
            <tr>
              <td class="wide four">
                <p><%= h.title %></p>

                <p><%= h.deadline_time %></p>

                <p><%= h.homework_course %></p>
              </td>
              <td class="wide ten">
                <p>作业描述:</p>

                <p><%= h.content%></p>
              </td>
              <td class="wide one">
                <% h.attachments.each do |attach|%>
                <a href="<%= attach.path %>"><i class="icon download disk"></i></a>
                <% end %>
              </td>
              <td class="wide one">
                <a  name="upload-file"><i class="icon upload disk"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
        </li>
            <% end %>
    <% end %>
  </ul>
</div>

<div id="homework-line-wrap" class="homework-line-wrap homework-wrap">
  <label>作业成绩</label>

  <div class="tiny ui buttons basic">
    <div class="ui button active">托福听力</div>
    <div class="ui button">托福口语</div>
    <div class="ui button">雅思</div>
  </div>
  <canvas name="line_chart" class="homework-line"></canvas>
</div>

<div id="homework-pie-wrap" class="homework-pie-wrap homework-wrap">
  <label>作业交付</label>

  <p class="deal-on-date">按时交付率<span id="deal-on-date"></span></p>
  <canvas id="homework-pie" class="homework-pie"></canvas>
</div>


<div class="homework-post-add upload-my-home-work" id="upload-my-home-work">
  <div class="inner">
    <i class="icon remove"></i>
    <p>上传我的作业</p>
    <div class="content">
      <label>作业内容</label>
      <textarea  name='content' class="homework-input" ></textarea>
      <div class="upload-file">
        <a class="ui button twitter mini" onclick="$('#task-attach-uploader').click()">上传附件(最大为20M)</a>
        <p class="upload-file-name">wzx.pdf<i class="icon remove"></i></p>
      </div>
    </div>
    <div  class="ui button red mini">
      上传
    </div>
  </div>
</div>

<%=render 'student_homeworks/improve' %>
