<table class="ui small table segment celled">
  <thead>
    <tr><th>学校</th>
      <th>专业</th>
      <th>时间</th>
      <th>成绩</th>
      <th>奖学金</th>
      <th>Offer</th>
      <th>最终录取</th>
      <th>操作</th>
  </tr></thead>
  <tbody>
    <% if @admitted %>
    <% @admitted.each do |admit|%>
    <tr id="<%= admit.id%>" <% if admit.admitted[:admitted_value] == 1%> class="final-choose"<% end %>>
      <td><%= admit.admitted[:school] %></td>
      <td><%= admit.admitted[:specialty] %></td>
      <td><%= admit.admitted[:date] %></td>
      <td><%= admit.admitted[:grade] %></td>
      <td value="<%= admit.admitted[:scholarship_value]%>"><%= admit.admitted[:scholarship] %></td>
      <td value="<%= admit.admitted[:offer_value]%>"><%= admit.admitted[:offer] %></td>
      <td value="<%= admit.admitted[:admitted_value]%>" target="admitted"><%= admit.admitted[:admitted] %></td>
      <td><span admit="<%= admit.id%>" class="edit">编辑</span><span admit="<%= admit.id%>" class="remove">删除</span></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
