<div class="ui tabular menu" id="achieve_final_tabular">
  <% if @sub_courses %>
  <% @sub_courses.each do |sub| %>
  <a class="active item">
    <div class="floating ui label"><i sub="<%= sub.id %>" class="icon remove"></i></div>
    <%= sub.name %>
  </a>
  <% end %>
  <% end %>
</div>
<table class="ui small table segment celled">
  <thead>
    <tr><th class="five wide">时间</th>
      <th class="four wide">成绩<span>(双击可编辑)</span></th>
      <th>入校</th>
      <th>操作</th>
  </tr></thead>
  <tfoot>
    <tr><th colspan="4">添加记录</th>
  </tr></tfoot>
  <tbody>
    <% if @final_grades %>
    <% @final_grades.each do |grade|%>
    <tr>
      <td><%= grade.final_grade[:date]%></td>
      <td class="score"><%= grade.final_grade[:grade]%></td>
      <td><%= grade.final_grade[:enter_school]%></td>
      <td><span class="remove">删除</span></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
<canvas id="myChart" ></canvas>
