
<table class="ui celled table segment">
  <thead>
    <tr>
      <th class="wide three">课程/服务</th>
      <th class="wide one">课时</th>
      <th class="wide four">上课时间</th>
      <th class="wide three">支付情况</th>
      <th class="wide five">表现/进度</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course|%>
    <tr id="<%= course.id_display%>">
      <td><%= course.name %></td>
      <td><%= course.lesson_display%></td>
      <td><%= course.period_display%></td>
      <td class="pay-lack"><%= course.paid_display%></td>
      <td>
        <input type="text" />
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
