<!--partial-->
<% is_admin = current_logininfo.is_admin? %>
<% if @consultations %>
<% @consultations.each do |consultation| %>
<div class="item" id="<%= consultation.id%>">
  <% if is_admin%>
      <i consultation="<%= consultation.id %>" class="icon remove" affect="remove-consult"></i>
  <%end%>
  <p><%= consultation.consult_time_display%> <%= consultation.consultants%></p>
  <p><%= consultation.content%></p>
  <p>接线人:<%= consultation.recorder%></p>
  <dl>
    <dt>评论：</dt>
    <% consultation.comments.each do |c|%>
    <dd><span><%= c[:comment]%></span><span><%= c[:comment_time] %></span><i comment="<%= c[:id] %>" class="icon remove"></i></dd>
    <% end %>
  </dl>
  <div class="comment-block">
    <input type="text"/>
    <div class="ui button tiny" id=<%= consultation.id%>>评论</div>
  </div>
</div>
<% end %>
<% end %>
<!--partial-->
