<!--partial-->

<% @consultations.each do |consultation| %>
<div class="item" id="<%= consultation.id%>">
  <p><%= consultation.consult_time_display%> <%= consultation.consultants%></p>
  <p><%= consultation.content%></p>
  <p>接线人:<%= consultation.recorder%></p>
  <dl>
    <dt>评论：</dt>
    <% if !consultation.comment.blank? %>
    <dd><span><%= consultation.comment%></span><span><%= consultation.comment_time_display%></span><i class="icon remove"></i></dd>
    <% end %>
  </dl>
  <div class="comment-block">
    <input type="text"/>
    <div class="ui button tiny" id=<%= consultation.id%>>评论</div>
  </div>
</div>
<% end %>
<!--partial-->
