<!--编辑学生信息-->
<div class="inner">
  <i class="remove icon" id="close-student-detail-edit"></i>
  <p>编辑学生</p>
  <div class="left-part">
    <!--<div class="portrait">-->
      <!--<img id="image-url" class="ui circular image " src="<%= @presenter.image_url%>">-->
    <!--</div>-->
    <div class="ui left icon input">
      <input id="name" placeholder="姓名..." type="text" value="<%= @presenter.name %>" class="update-input">
      <i class="user icon" id="close-student-detail-edit"></i>
    </div>
    <div id="gender" class="sex stop">
      <div class="ui radio checkbox">
        <input name="sex" <% if @presenter.student.is_male? %> checked="checked" <% end %> type="radio">
        <label>男</label>
      </div>
      <div class="ui radio checkbox">
        <input name="sex" <% if !@presenter.student.is_male?%> checked="checked"<% end %>  type="radio">
        <label>女</label>
      </div>
    </div>
    <div class="student-remark">
      <textarea placeholder="备注..." id="remark" class="update-input"><%= @presenter.student.remark %></textarea>
      <i class="info icon"></i>
    </div>
    <div class="ui left icon input calendar">
      <input placeholder="出生年月..." type="text" readonly id="birthday" value="<%= @presenter.birth_ %>" class="update-input">
      <i class="calendar icon"></i>
    </div>
    <div class="ui left icon input">
      <input id="school" placeholder="就读学校..." type="text" value="<%= @presenter.school %>" class="update-input">
      <i class="building icon"></i>
    </div>
    <div class="ui left icon input calendar">
      <input placeholder="毕业年限..." type="text" id="graduation" value="<%= @presenter.graduate_ %>" class="update-input">
      <i class="empty bookmark icon"></i>
    </div>
  </div>
  <div class="right-part">
    <div class="ui left icon input">
      <input id="email" placeholder="邮件地址..." type="text" value="<%= @presenter.email %>" class="update-input">
      <i class="mail outline icon"></i>
    </div>
    <div class="ui left icon input">
      <input id="phone" placeholder="联系电话..." type="text" value="<%= @presenter.phone %>" class="update-input">
      <i class="phone icon"></i>
    </div>
    <div class="ui left icon input">
      <input id="address" placeholder="联系地址..." type="text" value="<%=  @presenter.address %>" class="update-input">
      <i class="home icon"></i>
    </div>
    <div class="ui left icon input">
      <input id="guardian" placeholder="监护人..." type="text" value="<%=  @presenter.guardian %>" class="update-input">
      <i class="male icon"></i>
    </div>
    <div class="ui left icon input">
      <input id="guardian_phone" placeholder="监护人电话..." type="text" value="<%=  @presenter.guardian_phone %>" class="update-input">
      <i class="mobile icon"></i>
    </div>
    <div class="ui left icon input specialInput labelForm autoComplete">
      <ul id="tags" class="tags-items">
	<% @presenter.tags_.each do |tag|%>
	<li><div class="ui label"><%= tag %><i class="delete icon"></i></div></li>
	<% end %>
        <li><input type='text' class="tag-input-blur" placeholder="标签..." id="autoC2" autocomplete="tags"/></li>
      </ul>
      <i class="tag icon stop"></i>
    </div>
    <div class="ui left icon input autoComplete specialInput labelForm ">
      <ul id="referrer">
	<% if @presenter.referrer_ %>
	<li><div class="ui label" id="<%= @presenter.referrer_.id %>" type="" logininfo_id="<%= @presenter.referrer_.logininfo_id%>"><%= @presenter.referrer_.name %><i class="delete icon"></i></div></li>
	<% end %>
	<li><input placeholder="推荐人..." id="edit_referrer" type="text" autocomplete="students"></li>
      </ul>
      <i class="smile icon"></i>
    </div>
    <div id="is_active_account" class="ui checkbox stop">
      <input name="fun" type="checkbox" <% if @presenter.account_actived? %> checked <% end %> class="update-input">
      <label>同时开设学生账号</label>
    </div>
    <div id="edit-student" class="ui red button">
      编辑
    </div>
  </div>
</div>

<script type="text/javascript">
  init_student_edit();

</script>
