<!--partial-->
<% if @referrer %>
<label>推荐人：</label>
<div class="ui horizontal list">
  <div class="item">
    <img class="ui avatar image" src="<%= @referrer.image_url%>">
    <div class="content">
      <div class="header"><%= @referrer.name %></div>
      <%= @referrer.school %>
    </div>
  </div>
</div>
<br />
<% end %>

<label>可能认识：</label>
<div class="ui horizontal list">
<% @relations.each do |relation| %>
  <div class="item">
    <img class="ui avatar image" src="<%= relation.image_url %>">
    <div class="content">
      <div class="header"><%= relation.name %></div>
      <%= relation.school %>
    </div>
  </div>
<% end %>
</div>
<!--partial-->
