<% if @student_presenters %>
<% @student_presenters.each do |presenter|%>
<li>
  <table class="ui table segment">
    <tr>
      <td class="two wide first-column" id="student-list-name">
	<!--<img class="circular ui image mini portrait" src="<%= presenter.student.image_url %>"/>-->
	<p class="name" ><%= presenter.name %></p>
        <div class="icons">
          <i class="user icon" data-content="a lot of descriptions here" data-variation="inverted" data-position="bottom center"></i>
          <i class="book icon" data-title="已报班级" data-content="正在进行:1,2,3,234,235,325<br />未进行:4,5,6" data-variation="inverted" data-position="bottom center"></i>
        </div>

      </td>
      <td class="two wide">
	<p class="type"><%= presenter.status_%></p>
	<p><%= presenter.school %></p>
	<p><%= presenter.age_%></p>
      </td>
      <td class="five wide">
	<div class="ui blue labels small">
	  <% if presenter.tags_.length > 0%>
	  <% presenter.tags_.each do |tag| %>
	  <a class="ui label">
	    <%= tag %>
	  </a>
	  <% end %>
	  <% end%>
	</div>
	<p class="parent"><span>监护人:</span><span><%= presenter.student.guardian_phone %>(<%= presenter.student.guardian%>)</span></p>
        <p class="phone"><span>联系电话:</span><span><%= presenter.phone %></span></p>
	<% if presenter.last_consultation_ %>
	<p class="consult-time"><span>上次咨询:</span><span><%= presenter.last_consultation_ %></span></p>
	<% end %>
      </td>
      <td class="two wide">
	<% if presenter.referrer_ %>
        <p class="maybe-know">推荐人</p>
        <p><a href="/students/<%= presenter.referrer_.id %>"><%= presenter.referrer_.name %></a></p>
	<% end %>
      </td>
      <td class="three wide">
	<% if presenter.relation_.length > 0 %>
        <p class="recommend">可能认识</p>
        <p>
	  <% presenter.relation_.each do |relation|%>
	  <a href="/students/<%= relation.id%>"><%= relation.name%></a>
	  <% end %>
	</p>
	<% end %>
      </td>
      <td class="three wide">
        <a class="ui mini button teal" href="/students/<%=presenter.id%>">
          详情
        </a>
      </td>
    </tr>
  </table>
</li>
<% end%>
<% end %>
