<%= render partial:'custom_views/view'%>

<article class="back-index-main"  id="back-index-main" name="student">
  <header class="back-index-side-header">
    <div class="ui teal mini button" id="add-item" type="student">
      <div class="visible content">
        <i class="add icon"></i>
        新建学生
      </div>
    </div>
  </header>
  <div class="search-list" id="search-list">
    <div class="ui big fluid icon input search-input customAutoHeight" id="container_for_input" autoMaxHeight="210px">
      <i class="search icon"></i>
    </div>
    <div class="ui inverted segment search-conditions" id="container_for_list">

    </div>
    <div class="column">
      <div class="ui raised segment">
	<div class="ui red ribbon label">搜索结果: <div class="ui red label" id="result-count">0</div></div>
      </div>
    </div>
    <ul class="search-result" id="search-result">
      <%= render partial:'search_results'%>
    </ul>
  </div>
</article>

<!--add student-->
<section class="back-index-add" id="back-index-add" name="student">
  <div class="inner">
    <i class="remove icon"></i>
    <p>新建学生</p>
    <div class="left-part">
      <div class="portrait">
        <img id="image_url" class="ui circular image " src="/assets/portrait/1.jpg">
      </div>
      <div class="ui left icon input">
        <input id="name" placeholder="姓名..." type="text">
        <i class="user icon"></i>
      </div>
      <div id="gender" class="sex stop">
        <div class="ui radio checkbox">
          <input name="sex" checked="checked" type="radio" value="1">
          <label>男</label>
        </div>
        <div class="ui radio checkbox">
          <input name="sex" type="radio" value="0">
          <label>女</label>
        </div>
      </div>
      <div class="ui left icon input calendar">
        <input placeholder="出生年月..." type="text" readonly id="birthday">
        <i class="calendar icon"></i>
      </div>
      <div class="ui left icon input">
        <input id="school" placeholder="就读学校..." type="text">
        <i class="building icon"></i>
      </div>
      <div class="ui left icon input calendar">
        <input placeholder="毕业年限..." type="text" id="graduation">
        <i class="empty bookmark icon"></i>
      </div>
    </div>
    <div class="right-part">
      <div class="ui left icon input">
        <input id="email" placeholder="邮件地址..." type="text">
        <i class="mail outline icon"></i>
      </div>
      <div class="ui left icon input">
        <input id="phone" placeholder="联系电话..." type="text">
        <i class="phone icon"></i>
      </div>
      <div class="ui left icon input">
        <input id="address" placeholder="联系地址..." type="text">
        <i class="home icon"></i>
      </div>
      <div class="ui left icon input">
        <input id="guardian" placeholder="监护人..." type="text">
        <i class="male icon"></i>
      </div>
      <div class="ui left icon input">
        <input id="guardian_phone" placeholder="监护人电话..." type="text">
        <i class="mobile icon"></i>
      </div>
      <div class="ui left icon input specialInput labelForm autoComplete">
        <ul id="tags">
          <li><input type='text' placeholder="标签..." id="autoC2" autocomplete="tags"/></li>
        </ul>
        <i class="tag icon stop"></i>
      </div>
      <div class="ui left icon input autoComplete specialInput labelForm ">
        <ul id="referrer">
          <li><input placeholder="推荐人..." id="edit_referrer" type="text" autocomplete="students"></li>
        </ul>
        <i class="smile icon"></i>
      </div>
      <div id="is_active_account" class="ui checkbox stop create">
        <input name="fun" type="checkbox" >
        <label>同时开设学生账号</label>
      </div>
      <div id="add-student" class="ui red button">
        添加
      </div>
    </div>
  </div>
</section>

<% content_for :javascript_includes do%>
<%= javascript_include_tag "BACK_index.js"%>
<%= javascript_include_tag "BACK_student.js"%>
<%= javascript_include_tag "BACK_rightList.js"%>
<%end%>
