<article class="back-index-main" id="back-index-main" name="2column">
  <header class="back-index-side-header">
    <a class="ui down button teal mini" href="/students/">
      <i class="left icon"></i>
      返回上层
    </a>
    <p>学生详细信息</p>
  </header>
  
  <div class="detail-navigation" id="detail-navigation" origin_top=56>
    <div class="ui vertical pointing menu" id="detail-navigation-menu">
      <div class="header item">
        内容菜单
      </div>
      <a class="item active" href="#class-and-service">
        <i class="browser icon"></i> 课程及服务
      </a>
      <a class="item" href="#achieve">
        <i class="trophy icon"></i> 所获成就
      </a>
      <a class="item" href="#friendship">
        <i class="meh icon"></i> 人际
      </a>
      <a class="item" href="#consult-record">
        <i class="chat outline icon"></i> 咨询记录
      </a>
    </div>
  </div>
  
  <div class="detail-content" id="detail-content">
    <div class="content-info">内容主页</div>
    <div class="info">
      <div class="left">
        <img class="circular ui image" src="<%= @presenter.student.image_url %>"/>
        <p class="name"><%= @presenter.name %></p>
        <P class="type"><%= @presenter.status_%></P>
      </div>
      <div class="middle">
        <p><span>性别:</span><span><%= @presenter.gender_ %></span></p>
        <p><span>出生年月:</span><span><%= @presenter.birth_ %></span></p>
        <p><span>联系电话:</span><span><%= @presenter.phone%></span></p>
        <p><span>联系邮件:</span><span><%= @presenter.email%></span></p>
        <p><span>居住地址:</span><span><%= @presenter.address%></span></p>
	<% if @presenter.tags_.length > 0 %>
	<p class="labels"><span>标签:</span>
          <span>
	    <% @presenter.tags_.each do |tag| %>
	    <a class="ui blue label"><%= tag%></a>
	    <% end %>
          </span>
        </p>
	<% end %>
      </div>
      <div class="right">
        <p><span>就读学校：</span><span><%= @presenter.school %></span></p>
        <p><span>毕业年限：</span><span><%= @presenter.graduate_ %></span></p>
        <p><span>监护人：</span><span><%= @presenter.guardian %></span></p>
        <p><span>监护人电话：</span><span><%= @presenter.guardian_phone %></span></p>
	<% if @presenter.referrer_ %>
        <p><span>推荐人：</span><span><%= presenter.referrer_.name%></span></p>
	<% end %>
      </div>
      <a class="ui red button detail-student-button">删除学生</a>
      <a class="ui teal button detail-student-button" id="add-item" type="student">编辑学生信息</a>
    </div>
    <div class="ui fluid accordion" id="accordion" name="student">
      <%= render partial:'courses' %>
      <%= render partial:'achievements' %>
      <%= render partial:'relations' %>
      <%= render partial:'consultations' %>
    </div>
  </div>
</article>

<%= render partial:'shares/log_footer'%>
<% content_for :javascript_includes do%>
    <%= javascript_include_tag "BACK_student.js"%>
    <%= javascript_include_tag "BACK_detail.js"%>
    <%= javascript_include_tag "BACK_student_detail.js"%>

<%end%>
