<article class="back-index-main" id="back-index-main" name="2column">
  <header class="back-index-side-header">
    <a class="ui down button teal mini" href="/students/">
      <i class="left icon"></i>
      返回上层
    </a>

    <p>学生详细信息</p>
  </header>

  <div class="detail-navigation" id="detail-navigation" origin_top=56>
    <div class="ui vertical pointing menu" id="detail-navigation-menu">
      <div class="header item">
        内容菜单
      </div>
      <a class="item active" href="#class-and-service">
        <i class="browser icon"></i> 课程及服务
      </a>
      <a class="item" href="#service-material">
        <i class="text file icon"></i> 服务材料
      </a>
      <a class="item" href="#achieve">
        <i class="trophy icon"></i> 所获成就
      </a>
      <a class="item" href="#class-performance">
        <i class="lab icon"></i> 课程成绩
      </a>
      <a class="item" href="#friendship">
        <i class="meh icon"></i> 人际
      </a>
      <a class="item" href="#consult-record">
        <i class="chat outline icon"></i> 咨询记录
      </a>
    </div>
  </div>

  <div class="detail-content" id="detail-content">
    <div class="content-info">内容主页</div>
    <div id="student-detail">
      <%= render partial: 'detail' %>
    </div>

    <div class="ui fluid accordion" id="accordion" name="student">
      <div class="item" id="class-and-service">
        <div class="<%= 'active' if @partial=='class-and-service' %> title">
          <i class="dropdown icon"></i>课程及服务
        </div>
        <div class="<%= 'active' if @partial=='class-and-service' %> content class-and-service">
          <%= render partial: 'class-and-service' if @partial=='class-and-service' %>
        </div>
      </div>

      <!--2014.2.16 材料 -->
      <div class="item" id="service-material">
        <div class="title <%= 'active' if @partial=='service-material' %>">
          <i class="dropdown icon"></i>服务材料
        </div>
        <div class="content service-material <%= 'active' if @partial=='service-material' %>">
          <%= render partial: 'service-material' if @partial=='service-material' %>
        </div>
      </div>

      <div class="item achievement" id="achieve">
        <div class="title <%= 'active' if @partial=='achieve' %>">
          <i class="dropdown icon"></i>所获成就
        </div>
        <div class="<%= 'active' if @partial=='achieve' %> content">
          <%= render partial: 'achieve' if @partial=='achieve' %>
        </div>
      </div>

      <div class="item class-performance" id="class-performance">
        <div class="<%= 'active' if @partial=='class-performance' %> title">
          <i class="dropdown icon"></i>课程成绩
        </div>
        <div class="<%= 'active' if @partial=='class-performance' %> content">
          <%= render partial: 'class-performance' if @partial=='class-performance' %>
        </div>
      </div>

      <div class="item friendship" id="friendship">
        <div class="title <%= 'active' if @partial=='friendship' %>">
          <i class="dropdown icon"></i>人际
        </div>
        <div class=" <%= 'active' if @partial=='friendship' %> content">
          <%= render partial: 'friendship' if @partial=='friendship' %>
        </div>
      </div>


      <div class="item consult-record" id="consult-record">
        <div class="title <%= 'active' if @partial=='consult-record' %>">
          <i class="dropdown icon"></i>咨询记录
        </div>
        <div class="<%= 'active' if @partial=='consult-record' %> content">
          <%= render partial: 'consult-record' if @partial=='consult-record' %>
        </div>
        <div class="ui mini button" for="detail-add" type="consult-record"><i class="add icon"></i> 添加咨询记录</div>
      </div>
    </div>
  </div>
</article>

<!--new partial-->
<!--新建咨询记录-->
<section class="detail-add" type="consult-record">
  <div class="inner">
    <i class="remove icon detail-add-close"></i>

    <p>添加咨询记录</p>

    <div class="ui form segment">
      <div class="field">
        <label>咨询时间</label>
        <input name="time" type="text" readonly id="consult-record-time"/>
        <select state="unload" id="consult-record-hour"></select>
      </div>
      <div class="field">
        <label>咨询人</label>
        <input name="customer" type="text" id="consult-record-customer"/>
      </div>
      <div class="field">
        <label>咨询内容</label>
        <textarea name="content" id="consult-record-content"></textarea>
      </div>
      <!--
	  <div class="field">
            <label>接线人</label>
            <input name="service" type="text" id="consult-record-service" />
	  </div>
	  -->
      <div class="ui submit button teal ok" for="consult-record">完成添加</div>
    </div>

  </div>
</section>


<!--编辑学生信息-->
<section class="back-index-add" name="student" id="student-edit-section">

</section>


<%= render partial: 'shares/log_footer' %>
<% content_for :javascript_includes do %>
    <%= javascript_include_tag "Chart.min.js" %>
    <%= javascript_include_tag "excanvas.js" %>
    <%= javascript_include_tag "Homework-chart.js" %>
    <%= javascript_include_tag "manage.source.base.js" %>
    <%= javascript_include_tag "BACK_index.js" %>
    <%= javascript_include_tag "BACK_detail.js" %>
    <%= javascript_include_tag "BACK_student.js" %>
    <%= javascript_include_tag "BACK_student_detail.js" %>
    <%= javascript_include_tag "BACK_student_edit.js" %>

<% end %>
