<div class="homework-post-add upload-my-home-work" id="upload-my-home-work">
     <div class="inner">
          <i class="icon remove"></i>
          <p>
               提交我的作业
          </p>
          <div class="content">
               <label>作业内容</label>
               <textarea  class="homework-input" name="content" id="student-homework-content"><%= @student_homework.content%></textarea>
               <div class="upload-file">
                    <%= render 'shares/file_upload'%>
               </div>
               <div class="attachments">
                    <%@student_homework.attachments.each do |attach|%>
                    <a  href="<%= attach.path%>" target="blank" data-content="<%= attach.name%>" data-variation="inverted"><i class="icon attachment"></i><%= attach.name%></a>
                    <%end%>
               </div>
          </div>
          <div  class="ui button red mini" id="student-homework-submit-button" homework="<%= @student_homework.homework_id%>" student-homework="<%= @student_homework.id%>">
               提交
          </div>
     </div>
</div>