<%@courses.each do |course|%>
<div class="item">
  <h4><%= course.course_name%> </h4>
  <p class="sub-class"><%= course.sub_course_name%></p>
  <p><span>课程描述：</span><span><%= course.description%></span></p>
  <p><span>授课时间：</span><span><%= course.start_date%> -- <%= course.end_date%></span></p>
  <p class="homework-amount"><span>尚未批改作业：</span><span><%= course.unmark_number%></span></p>
  <a class="mini ui teal button" href="/homeworks/index/<%=course.id%>">
    进入课堂
  </a>
</div>
<%end%>
