<table>
     <tr>
          <td>title: <%= @homework.title%></td>
     </tr>
     <tr>
          <td>content: <%= raw @homework.content%></td>
     </tr>
     <tr>
          <td>deadline: <%= @homework.deadline_display%></td>
     </tr>
     <tr>
          <td>finished:<%= @homework.status%> </td>
     </tr>
     <tr>
          <td>
               <%@homework.attachments.each do |attach|%>
                 <a href="<%=attach.path%>" target="blank"> <%=attach.name%></a>||
               <%end%>
          </td>
     </tr>
</table>