<div class="ui accordion" id="accordion">
     <%@menus.each do |menu|%>
     <div class="homework-menu-a <%= menu.is_pin ? 'pin' : 'title'%>"  pin="<%= menu.is_pin%>"  <%= "sid=#{@sub_course_id}" if @sub_course_id%>  type="<%= menu.value%>">
          <%unless menu.is_pin%>
          <i class="dropdown icon"></i>
          <%end%>
          <%= menu.display%>
     </div>
     <%unless menu.is_pin%>
     <div class="content homework-list">

     </div>
     <%end%>
     <%end%>
</div>

