LEFT MENU:
<style  type="text/css">
.pin{
     font-weight:bold;
     font-size: 20px;
}
</style>
<ul>
     <%@menus.each do |menu|%>
     <li>
          <a href="#" type="<%= menu.value%>" class="homework-menu-a <%= 'pin' if menu.is_pin%>" pin="<%=menu.is_pin%>" <%="sid=#{@sub_course_id}" if @sub_course_id%>><%= menu.display%><%= ':>>>>' if menu.is_pin%></a>
          <div class="homework-list"  style="background: brown">
               <%if @menu_type==menu.value%>
               <%= render 'menu_item'%>
               <%end%>
          </div>
     </li>
     <% end %>
</ul>

