<%if @homework%>
<%= render 'detail'%>
<hr />
<%if @student_homework %>
<%if @homework.can_submit? && @student_homework.can_resubmit?%>
<div class="ui mini teal button upload-homework"  id="upload-homework" resub='true' sh="<%=@student_homework.id%>">
     重新提交我的作业
</div>
<div id="edit-sh-div"></div>
<%end%>
<div class="item">
     <img class="ui image avatar" src="<%= @student_homework.image_url%>" />
     <p>
          <%= @student_homework.name%>
     </p>
     <p>
          <%= @student_homework.submited_time_display%>
     </p>
     <p>
          <%= @student_homework.content%>
     </p>
     <div class="item-operate">
          <label>是否进步：<%= @student_homework.improved_display%></label>
          <label>得分:<%= @student_homework.score_display%></label>
     </div>
</div>
<%elsif @homework.can_submit?%>
<%= render partial:'student_homeworks/form'%>
<%end%>
<%end%>
