<h3> HOMEWORK DETAIL</h3>
<%if @homework%>
<table>
     <tr>
          <td>title: <%= @homework.title%></td>
     </tr>
     <tr>
          <td>content: <%= @homework.content%></td>
     </tr>
     <tr>
          <td>deadline: <%= @homework.deadline_display%></td>
     </tr>
     <tr>
          <td>status:<%= @homework.status_display%> </td>
     </tr>
</table>
<hr />
<div style="background: pink">
<%@student_homeworks.each_with_index do |sh,i|%>
<table style=" border: solid red 1px; width: 100%">
     <tr>
          <td><%= i+1%></td>
     </tr>
     <tr >
          <td>content:<%= sh.content%></td>
          <td>improved:<%= sh.improved%>
          <input type="checkbox" name="improved"  homework="<%= sh.id%>"  class="student-homwork-input" <%= 'checked' if sh.improved%>/>
          </td>
          <td>marked: <%= sh.marked%></td>
          <td>score:
          <input type="text" name="score" value="<%= sh.score_display%>" homework="<%= sh.id%>" class="student-homwork-input"/>
          </td>
          <td><%= sh.submited_time_display%></td>
          <td><%= sh.marked_time_display%></td>
     </tr>
</table>
<%end%>
</div>
<%end%>
