<%if @homework%>
<%= render 'detail'%>
finished:
<input type="checkbox" name="status" homework="<%= @homework.id%>"  class="teacher-homework-input" <%= 'checked' if @homework.status%>/>
<hr />

<%@student_homeworks.each_with_index do |sh,i|%>
<div class="item">
     <img class="ui image avatar" src="<%= sh.image_url%>" />
     <p>
          <%= sh.name%>
     </p>
     <p>
          <%= sh.submited_time_display%>
     </p>
     <p>
          <%= raw sh.content%>
     </p>
     <div>
          <label>这次作业进步了吗</label>
          <input type="checkbox" name="improved"  homework="<%= sh.id%>"  class="student-homwork-input" <%= 'checked' if sh.improved%>/>
          <label>得分</label>
          <input type="text" name="score" value="<%= sh.score_display%>" homework="<%= sh.id%>" class="student-homwork-input"/>
     </div>
</div>
<%end%>
<%end%>

