<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @homework.title %>
</p>

<p>
  <b>Deadline:</b>
  <%= @homework.deadline %>
</p>

<p>
  <b>Content:</b>
  <%= @homework.content %>
</p>

<p>
  <b>Teacher course:</b>
  <%= @homework.teacher_course %>
</p>

<p>
  <b>Unmark number:</b>
  <%= @homework.unmark_number %>
</p>


<%= link_to 'Edit', edit_homework_path(@homework) %> |
<%= link_to 'Back', homeworks_path %>
