<article class="back-index-main front-index-main" id="front-index-main">
     <header class="back-index-side-header front-index-side-header" id="front-index-side-header">
          <div class="ui breadcrumb">
               <%if @sub_courses.count>0%>
               <a href="/homeworks/index/<%= @student_course.course_id%>" class="active"> 全部 </a><%end%>
               <%@sub_courses.each do |sub_course|%> <a href="/homeworks/index/<%= @student_course.course_id%>/<%= sub_course.id%>"> <%= sub_course.name%> </a>
               <%end%>
          </div>
          <p>
               <span><%= @student_course.name%></span>的作业
          </p>
     </header>

     <div class="post-homework" id="post-home">

          <div class="left">
               <%= render 'menu'%>
          </div>

          <div class="right" id="homework-post-right">

          </div>
     </div>
</article>

<div class="homework-post-add upload-my-home-work" id="upload-my-home-work">
  <div class="inner">
    <i class="icon remove"></i>
    <p>上传我的作业</p>
    <div class="content">
      <label>作业内容</label>
      <textarea  name='content' class="homework-input" ></textarea>
      <div class="upload-file">
        <%=render 'shares/file_upload'%>
      </div>
    </div>
    <div  class="ui button red mini">
      上传
    </div>
  </div>
</div>




<input type="hidden" value="<%= @student_course.course_id%>" id="teacher-course-hidden" />
<script type="text/javascript">
     $(document).ready(function() {
          init_student_homework();
     })
</script>
<% content_for :javascript_includes do%>
<%= javascript_include_tag "manage.source.base.js"%>
<%= javascript_include_tag "manage.homework.base.js"%>
<%= javascript_include_tag "FRONT_index.js"%>
<%= javascript_include_tag "FRONT_homework_post.js"%>
<%= javascript_include_tag "FRONT_homework.js"%>
<%end%>