<table style="height: 600px; width:100%">
     <tr style="height: 60px; background: yellow;"  colspan="2">
          <td>HOME WORK OF:
          <hr />
          <%if @sub_courses.count>0%> <a href="/homeworks/index/<%= @student_course.course_id%>"> <span style="color:red;">ALL</span> </a> ||<%end%>
          <%@sub_courses.each do |sub_course|%> <a href="/homeworks/index/<%= @student_course.course_id%>/<%= sub_course.id%>"> <span style="color:red;"><%= sub_course.name%></span> </a> ||
          <%end%>
     </tr>
     <tr>
          <td style="background: green;width: 20%"> <%= render 'menu'%> </td>
          <td style="background: grey;width: 60%"><div id="homework-content"></div></td>
     </tr>
</table>
<input type="hidden" value="<%= @student_course.course_id%>" id="teacher-course-hidden" />
<script type="text/javascript">init_student_homework();</script>
<% content_for :javascript_includes do%>
<%= javascript_include_tag "manage.source.base.js"%>
<%= javascript_include_tag "manage.homework.base.js"%>
<%end%>