<article class="back-index-main front-index-main" id="front-index-main">
     <header class="back-index-side-header front-index-side-header" id="front-index-side-header">
          <div class="ui breadcrumb">
               <%if @sub_courses.count>0%>
               <a href="/homeworks/index/<%= @student_course.course_id%>" class="<%='active'  unless @sub_course_id%>"> 全部 </a><%end%>
               <%@sub_courses.each do |sub_course|%> <a href="/homeworks/index/<%= @student_course.course_id%>/<%= sub_course.id%>"
                     class="<%='active'  if @sub_course_id==sub_course.id%>"> <%= sub_course.name%> </a>
               <%end%>
          </div>
          <p>
               <span><%= @student_course.name%></span>的作业
          </p>
     </header>

     <div class="post-homework" id="post-home">

          <div class="left">
               <%= render 'menu'%>
          </div>

          <div class="right" id="homework-post-right">

          </div>
     </div>
</article>

<div id="upload-wrap" class="upload-wrap">
     <i class="icon remove"></i>
     <a class="upload-button">上传附件...</a>
     <p>
          dsad.pdf
     </p>
     <p>
          asdas.pdf
     </p>
     <a class="ok-button">完成</a>
</div>

<input type="hidden" value="<%= @student_course.course_id%>" id="teacher-course-hidden" />
<script type="text/javascript">
     $(document).ready(function() {
          init_student_homework();
     })
</script>
<% content_for :javascript_includes do%>
<%= javascript_include_tag "manage.source.base.js"%>
<%= javascript_include_tag "manage.homework.base.js"%>
<%= javascript_include_tag "manage.homework-post.js"%>
<%end%>