<table style="height: 600px; width:100%">
     <tr style="height: 60px; background: yellow;"  colspan="2">
          <td>HOME WORK OF:
          <hr />
          <%if @sub_courses.count>0%> <a href="/homeworks/index/<%= @student_course.course_id%>"> <span style="color:red;">ALL</span> </a> ||<%end%>
          <%@sub_courses.each do |sub_course|%> <a href="/homeworks/index/<%= @student_course.course_id%>/<%= sub_course.id%>"> <span style="color:red;"><%= sub_course.name%></span> </a> ||
          <%end%>
     </tr>
     <tr>
          <td style="background: green;width: 20%"> <%= render 'menu'%> </td>
          <td style="background: grey;width: 60%"><div id="homework-content"></div></td>
     </tr>
</table>



<aside class="back-index-condition front-index-condition">
    <header class="back-index-side-header">
    //连接地址
        <a class="ui down button teal mini" href="">
            <i class="left icon"></i>
            返回上层
        </a>
    </header>
    <div class="ui vertical menu">
    //要有active
        <a class="item active">
            <i class="inbox icon"></i>
            <label>作业</label>
        </a>
        <a class="item">
            <i class="chat outline icon"></i>
            <label>互动</label>
        </a>
    </div>
</aside>

<article class="back-index-main front-index-main" id="front-index-main">
    <header class="back-index-side-header front-index-side-header" id="front-index-side-header">
        <div class="ui breadcrumb">
        //标签
            <a class="section active">全部</a>
            <a class="section">听力</a>
            <a class="section">口语</a>
            <a class="section">写作</a>
        </div>
        <a class="ui red mini button" id="add-item">
            <div class="visible content">
                <i class="add icon"></i>
                新建作业
            </div>
        </a>
        //课程的标题
        <p><span>托福秋季班</span>的作业</p>
    </header>

    <div class="post-homework" id="post-home">

        <div class="left">
           <%= render 'menu'%>
        </div>

//右边的内容
        <div class="right">
            <h3><i class="empty flag icon"></i> 托福听力</h3>
            <p>请就本科应该住在外租房还是学校进行讨论3分钟</p>
            <label>截止日期:<span>2013-04-15</span></label>
            <label>当前状态:<span>已完成</span></label>
            <div class="ui mini teal button upload-homework"  id="upload-homework">
                上传我的作业
            </div>
            <hr />
            <hr />

            //每个人的回答
            <div class="item">
                <img class="ui image avatar" src="images/portrait/4.jpg" />
                <p>王子骁</p>
                <p>八天前</p>
                <p>请老师查阅</p>
                <div>
                    <label>这次作业进步了吗</label>
                    <input type="checkbox" />
                    <label>得分</label>
                    <input type="text" />
                </div>
            </div>
             //每个人的回答

        </div>
//右边的内容

    </div>
</article>

<div id="upload-wrap" class="upload-wrap">
    <i class="icon remove"></i>
    <a class="upload-button">上传附件...</a>
    <p>dsad.pdf</p>
    <p>asdas.pdf</p>
    <a class="ok-button">完成</a>
</div>


<input type="hidden" value="<%= @student_course.course_id%>" id="teacher-course-hidden" />
<script type="text/javascript">init_student_homework();</script>
<% content_for :javascript_includes do%>
<%= javascript_include_tag "manage.source.base.js"%>
<%= javascript_include_tag "manage.homework.base.js"%>
<%= javascript_include_tag "manage.homework-post.js"%>
<%end%>