<article class="back-index-main front-index-main" id="front-index-main">
     <header class="back-index-side-header front-index-side-header" id="front-index-side-header">
          <a class="ui red mini button" id="add-item">
          <div class="visible content">
               <i class="add icon"></i>
               新建作业
          </div> </a>
          <p>
               <span><%= @sub_course.parent_name%><%= ':'+@sub_course.name unless @sub_course.is_default%></span>的作业
          </p>
     </header>

     <div class="post-homework" id="post-home">

          <div class="left">
               <%= render 'menu'%>
          </div>

          <div class="right" id="homework-post-right">
          </div>
     </div>

</article>

<%=render 'form'%>

<div id="upload-wrap" class="upload-wrap">
     <i class="icon remove"></i>
     <a class="upload-button">上传附件...</a>
     <p>
          dsad.pdf
     </p>
     <p>
          asdas.pdf
     </p>
     <a class="ok-button">完成</a>
</div>

<input type="hidden" value="<%= @teacher_course.id%>" id="teacher-course-hidden" />
<script type="text/javascript">
     $(document).ready(function() {
          init_teacher_homework();
     })
</script>
<% content_for :javascript_includes do%>
<%= javascript_include_tag "manage.source.base.js"%>
<%= javascript_include_tag "manage.homework-post.js"%>
<%= javascript_include_tag "manage.homework.base.js"%>
<%= javascript_include_tag "FRONT_index.js"%>
<%= javascript_include_tag "FRONT_homework.js"%>
<%end%>