<div class="inner">
     <i class="remove icon" id="close-edit-course-icon"></i>
     <p>
          编辑<%= @course.type_display%>信息
     </p>
     <div id="new-class" class="tab-block" from="course">
          <div class="left-part">
               <div class="ui left icon input">
                    <input placeholder="<%= @course.type_display%>名称..." type="text" value="<%= @course.name%>" class="update-input" name="name">
                    <i class="browser icon"></i>
               </div>
               <div class="course-desc">
                    <textarea placeholder="<%= @course.type_display%>描述..." class="update-input" name="description"><%= @course.description%></textarea>
                    <i class="book icon"></i>
               </div>
               <div class="ui left icon input">
                    <input placeholder="预计课时数..." type="text"  value="<%= @course.lesson%>"  class="update-input" name="lesson"/>
                    <i class="time icon"></i>
               </div>
               <div class="ui left icon input">
                    <input placeholder="预计报名人数..." type="text"value="<%= @course.expect_number%>" class="update-input" name="expect_number"/>
                    <i class="users icon"></i>
               </div>
               <div class="ui left icon input calendar">
                    <input placeholder="<%= @course.type_display%>开始时间..." type="text" readonly id="course-begin-date" value="<%= @course.start_date%>"  class="update-input" name="start_date">
                    <i class="calendar icon"></i>
               </div>
               <div class="ui left icon input calendar">
                    <input placeholder="<%= @course.type_display%>结束时间..." type="text" readonly id="course-end-date"  value="<%= @course.end_date%>"  class="update-input" name="end_date">
                    <i class="calendar icon"></i>
               </div>
          </div>
          <div class="right-part">
               <div class="ui left icon input">
                    <input placeholder="<%= @course.type_display%>代号..." type="text" value="<%= @course.code%>"  class="update-input" name="code">
                    <i class="globe icon"></i>
               </div>
               <div class="ui left icon input specialInput labelForm autoComplete" >
                    <ul name='label' class="tags-items">
                         <%@course.tags.each do |tag|%>
                         <li>
                              <div class="ui label">
                                   <%= tag%><i class="delete icon"></i>
                              </div>
                         </li>
                         <%end%>
                         <li>
                              <input type='text' placeholder="标签..." id="course-label" autocomplete="tags" class="tag-input-blur"/>
                         </li>
                    </ul>
                    <i class="tag icon stop"></i>
               </div>
               <div class="ui buttons choose-teacher-delivery" id="choose-teacher-course-delivery" name="course">
                    <div class="ui mini button<%= ' teal active' unless @course.has_sub%>" for="total-course-teachers">
                         以总<%= @course.type_display%>安排老师
                    </div>
                    <div class="or"></div>
                    <div class="ui mini button<%= ' teal active' if @course.has_sub%>" for="sub-course-teachers">
                         以子<%= @course.type_display%>安排老师
                    </div>
               </div>
               <div class="ui left icon input specialInput labelForm autoComplete total-teachers teachers" id="total-course-teachers" style="<%= 'display:none' if @course.has_sub%>">
                    <ul>
                         <%@course.teacher_details.each do |teacher|%>
                         <li total_sub_couse_id="<%= teacher.sub_course_id%>">
                              <div class="ui label" id="<%= teacher.teacher_course_id%>">
                                   <%= teacher.name%><i class="delete icon"></i>
                              </div>
                         </li>
                         <%end unless @course.has_sub%>
                         <li>
                              <input type='text' placeholder="老师..." id="course-teachers" autocomplete="teachers"/>
                         </li>
                    </ul>
                    <i class="male icon"></i>
               </div>
               <div class="sub-course-block teachers" id="sub-course-teachers" style="<%= 'display:block' if @course.has_sub%>">
                    <%@course.sub_courses.each_with_index do |sub_course,i|%>
                    <div class="sub-course-block-item" sub-course="<%=sub_course.id%>">
                         <div class="ui input sub-course-name">
                              <input placeholder="子<%= @course.type_display%>名..." type="text" value="<%= sub_course.name%>" class="sub-course-name-input"/>
                         </div>
                         <div class="ui input specialInput labelForm autoComplete total-teachers" >
                              <ul>
                                   <%sub_course.teacher_details.each do |teacher|%>
                                   <li>
                                        <div class="ui label" type="" id="<%= teacher.teacher_course_id%>">
                                             <%= teacher.name%><i class="delete icon"></i>
                                        </div>
                                   </li>
                                   <%end%>
                                   <li>
                                        <input type='text' placeholder="老师..." id="sub-teacher-course-<%=i%>" autocomplete="teachers" class="sub-course-teachers-input-complete"/>
                                   </li>
                              </ul>
                         </div>
                         <i class="icon collapse" id="<%= sub_course.id%>"></i>
                    </div>
                    <%end%>
                    <i class="icon expand" id="add-sub-course"></i>
                    <input type="hidden" id="selected-sub-course" />
               </div>
          </div>
     </div>
     <div class="ui red button" id="finish-edit-course-button">
          完 成
     </div>
</div>
<script type="text/javascript">
     init_course_edit();
</script>