<section class="back-index-add" name="course">
     <div class="inner">
          <i class="remove icon"></i>
          <p>
               新建课程/服务
          </p>
          <div class="tab" id="add-course-tab">
               <div class="tab-item active" for="course">
                    课程
               </div>
               <div class="tab-item" for="service">
                    服务
               </div>
          </div>

          <div id="new-class" class="tab-block" from="course">
               <div class="left-part ">
                    <div class="select">
                         <div  class="ui red labeled icon top right pointing dropdown button" id="add-class-choose-institution">
                              <%=render 'institutions/select'%>
                         </div>
                    </div>
                    <div class="ui left icon input">
                         <input placeholder="课程名称..." name='name' type="text">
                         <i class="browser icon"></i>
                    </div>
                    <div class="course-desc">
                         <textarea placeholder="课程描述..." name='desc'></textarea>
                         <i class="book icon"></i>
                    </div>
                    <div class="ui left icon input">
                         <input placeholder="预计课时数..." type="text" name='long'>
                         <i class="time icon"></i>
                    </div>
                    <div class="ui left icon input">
                         <input placeholder="预计报名人数..." type="text" name='people'>
                         <i class="users icon"></i>
                    </div>
                    <div class="ui left icon input calendar">
                         <input placeholder="课程开始时间..." type="text" name="begin" readonly id="course-begin-date">
                         <i class="calendar icon"></i>
                    </div>
                    <div class="ui left icon input calendar">
                         <input placeholder="课程结束时间..." type="text" name="end" readonly id="course-end-date">
                         <i class="calendar icon"></i>
                    </div>
               </div>
               <div class="right-part">
                    <div class="ui left icon input">
                         <input placeholder="课程代号..." name="code" type="text">
                         <i class="globe icon"></i>
                    </div>
                    <div class="ui left icon input specialInput labelForm autoComplete">
                         <ul name="label">
                              <li>
                                   <input type='text' placeholder="标签..." id="new-class-label" autocomplete="tags"/>
                              </li>
                         </ul>
                         <i class="tag icon stop"></i>
                    </div>
                    <div class="ui buttons choose-teacher-delivery" id="choose-teacher-delivery" name="class">
                         <div class="ui mini teal button active" for="total-teachers">
                           总体课程老师安排
                         </div>
                         <div class="or"></div>
                         <div class="ui mini button" for="sub-teachers">
                           子课程老师安排
                         </div>
                    </div>

                    <div class="ui left icon input specialInput labelForm autoComplete total-teachers" id="total-teachers" >
                         <ul>
                              <li>
                                   <input type='text' placeholder="授课老师..." id="autoC5" autocomplete="teachers"/>
                              </li>
                         </ul>
                         <i class="male icon"></i>
                    </div>

                    <div class="sub-course-block" id="sub-teachers">
                         <div class="sub-course-block-item">
                              <div class="ui input sub-course-name">
                                   <input placeholder="子课程名..." type="text">
                              </div>
                              <div class="ui input specialInput labelForm autoComplete total-teachers" >
                                   <ul>
                                        <li>
                                             <input type='text' placeholder="老师..." id="autoC3" autocomplete="teachers"/>
                                        </li>
                                   </ul>
                              </div>
                              <i class="icon empty checkbox" data-content="练习课/考试" data-variation="inverted"></i>
                              <i class="icon collapse" ></i>
                         </div>
                         <i class="icon expand" id="add-sub-class"></i>
                    </div>
               </div>
          </div>

          <div id="new-service" class="tab-block" style="display:none" from="service">
               <div class="left-part">
                    <div class="select">
                         <div   class="ui red labeled icon top right pointing dropdown button" id="add-service-choose-institution">
                               <%=render 'institutions/select'%>
                         </div>
                    </div>
                    <div class="ui left icon input">
                         <input placeholder="服务名称..." name='name' type="text">
                         <i class="browser icon"></i>
                    </div>
                    <div class="course-desc">
                         <textarea placeholder="服务描述..." name='desc'></textarea>
                         <i class="book icon"></i>
                    </div>
                    <div class="ui left icon input">
                         <input placeholder="预计报名人数..." type="text" name='people'>
                         <i class="users icon"></i>
                    </div>
                    <div class="ui left icon input calendar">
                         <input placeholder="服务开始时间..." type="text" name='begin' readonly id="service-begin-date">
                         <i class="calendar icon"></i>
                    </div>
                    <div class="ui left icon input calendar">
                         <input placeholder="服务结束时间..." type="text" name='end' readonly id="service-end-date">
                         <i class="calendar icon"></i>
                    </div>
               </div>
               <div class="right-part">
                    <div class="ui left icon input">
                         <input placeholder="服务代号..." name='code' type="text">
                         <i class="globe icon"></i>
                    </div>
                    <div class="ui left icon input specialInput labelForm autoComplete">
                         <ul name='label'>
                              <li>
                                   <input type='text' placeholder="标签..." id="service-label" autocomplete="tags"/>
                              </li>
                         </ul>
                         <i class="tag icon stop"></i>
                    </div>

                    <div class="material-block">
                        <div class="header" id="material-header">
                            <i class="icon text file"></i>
                            <label>材料</label>
                            <i class="icon reorder button"></i>
                        </div>

                        <div class="content" id="material-content">
                          <ul>
                            <% @materials.each do |material| %>
                                <li id="<%= material.id %>">
                                  <p><%= material.name %></p>
                                  <p><%= material.description %></p>
                                  <i class="icon remove material-list-remove" affect="<%= material.id %>"></i>
                                </li>
                            <% end %>
                          </ul>
                        </div>
                    </div>

                    <div class="material-setting" id="material-setting">
                      <table class="ui column table segment">
                        <thead>
                        <tr><th class="five wide">名称</th>
                          <th class="nine wide">描述</th>
                          <th class="two wide"></th>
                        </tr></thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                        <tr>
                          <td colspan=2></td>
                          <td><i class="icon plus basic" id="add-new-material"></i></td>
                        </tr>
                        </tfoot>
                      </table>
                    </div>

                    <div class="ui buttons choose-teacher-delivery" id="choose-teacher-service-delivery" name="service">
                         <div class="ui mini teal button active" for="total-service-teachers">
                           总体服务老师安排
                         </div>
                         <div class="or"></div>
                         <div class="ui mini button" for="sub-service-teachers">
                           子服务老师安排
                         </div>
                    </div>
                    <div class="ui left icon input specialInput labelForm autoComplete total-teachers" id="total-service-teachers">
                         <ul>
                              <li>
                                   <input type='text' placeholder="授课老师..." id="service-teachers" autocomplete="teachers"/>
                              </li>
                         </ul>
                         <i class="male icon"></i>
                    </div>
                    <div class="sub-course-block" id="sub-service-teachers">
                         <div class="sub-course-block-item">
                              <div class="ui input sub-course-name">
                                   <input placeholder="子服务名..." type="text">
                              </div>
                              <div class="ui input specialInput labelForm autoComplete total-teachers" >
                                   <ul>
                                        <li>
                                             <input type='text' placeholder="老师..." id="sub-teacher-service-1" autocomplete="teachers"/>
                                        </li>
                                   </ul>
                              </div>
                              <i class="icon empty checkbox" data-content="练习课/考试" data-variation="inverted"></i>
                              <i class="icon collapse"></i>
                         </div>
                         <i class="icon expand" id="add-sub-service"></i>
                    </div>
               </div>
          </div>
          <div class="ui red button" id="add-class-item">
               添加
          </div>
     </div>
</section>