<table class="ui celled table segment">
     <thead>
          <tr>
               <th class="wide two"></th>
               <th class="wide three">姓名</th>
               <th class="wide four">报班时间</th>
               <th class="wide four">支付情况</th>
               <th class="wide three"></th>
          </tr>
     </thead>
     <tbody>
          <%@students.each do |student|%>
          <tr id="<%=student.id%>">
               <td><img class="ui avatar image" src="<%=student.image_url%>"/></td>
               <td><%=student.name%></td>
               <td><%=student.enrol_time_display%></td>
               <td <%= "class='positive'" if student.paid==1%>>
               <div class="ui checkbox" name="join-pay">
                   
                    <input type="checkbox" <%= ' checked' if student.paid==1%>>
                    <label>是否支付</label>
               </div></td>
               <td>
               <div class="red button ui mini out-class" affect='<%=student.id%>'>
                    退班
               </div></td>
          </tr>
          <%end%>
     </tbody>
</table>