<%= render partial:'custom_views/view'%> <!--list-->
<article class="back-index-main" id="back-index-main" name="course">
     <header class="back-index-side-header">
          <a class="ui teal mini button" id="add-item" type="course">
          <div class="visible content">
               <i class="add icon"></i>
               新建课程/服务
          </div> </a>
          <a class="ui teal mini button" href="<%= schedules_path%>">
          <div class="visible content">
               <i class="calendar icon"></i>
               安排课程
          </div> </a>
          <%if current_user.is_teacher?%>
          <a class="ui red mini button" href="<%= teachers_path%>">
          <div class="visible content">
               <i class="home icon"></i>
               我的主页
          </div> </a>
          <%end%>
     </header>
     <div class="search-list" id="search-list">
          <div class="ui big fluid icon input search-input customAutoHeight" id="container_for_input" autoMaxHeight="210px">
               <i class="search icon"></i>
          </div>
          <div class="ui inverted segment search-conditions" id="container_for_list">

          </div>
          <div class="column">
               <div class="ui raised segment">
                    <div class="ui red ribbon label">
                         搜索结果:
                         <div class="ui red label" id="result-count">
                             0
                         </div>
                    </div>
                    <a><i class="icon up"></i> 根据相关性排序</a>
                    <a><i class="icon up"></i> 根据最新活动排序</a>
               </div>
          </div>
          <ul class="search-result" id="search-result" name="course">
               <%= render 'search_result'%>
          </ul>
     </div>
</article>
<%= render partial:'form'%>
<!-- <%= render partial:'shares/log_footer'%> -->
<% content_for :javascript_includes do%>
<%= javascript_include_tag "BACK_index.js"%>
<%= javascript_include_tag "BACK_rightList.js"%>
<%= javascript_include_tag "BACK_course.js"%>
<%= javascript_include_tag "manage.source.base.js"%>
<%end%>
