<article class="back-index-main" id="back-index-main" name="2column">
    <header class="back-index-side-header">
        <a class="ui down button teal mini" href="<%=courses_path%>">
            <i class="left icon"></i>
            返回上层
        </a>
        <p>课程详细信息</p>
    </header>
    <div class="detail-navigation" id="detail-navigation" origin_top=56>
        <div class="ui vertical pointing menu" id="detail-navigation-menu">
            <div class="header item">
                内容菜单
            </div>
            <a class="item active" href="#student">
                <i class="user icon"></i> 已报班学生
            </a>
            <a class="item" href="#teacher">
                <i class="male icon"></i> 授课老师
            </a>
            <a class="item" href="#recommend">
                <i class="heart icon"></i> 推荐报班
            </a>
        </div>
    </div>
    <div class="detail-content" id="detail-content">
        <div class="content-info">内容主页</div>
        <div class="info">
            <p class="detail-name"><%=@course.name%></p>
            <p class='detail-desc'><%=@course.description%></p>
            <!--<p class='detail-teachers'><span>授课老师:</span><span>May,Laura,Frank</span></p>-->
            <p class="detail-time"><span>授课时间:</span><span>2013年10月10日 - 2013年12月12日</span></p>
            <p class="detail-count"><span>课时数:</span><span>32课时</span></p>
            <p class="detail-people"><span>预计人数:</span><span>108</span></p>
            <p class="detail-institution"><span>所属机构:</span><span>闵行区</span></p>
            <p class="detail-code"><span>课程代号:</span><span>201101</span></p>
            <p class="detail-labels"><span>标签:</span>
                <span>
                   <a class="ui blue label">托福</a>
                   <a class="ui blue label">雅思</a>
                </span>
            </p>
            <a class="ui red button detail-button">删除课程</a>
            <a class="ui teal button detail-button" id="course-detail-edit">编辑课程信息</a>
        </div>
        <div class="ui fluid accordion" id="accordion" name="course">

            <!--partial-->
            <div class="item student" id="student">
                <div class="active title">
                    <i class="dropdown icon"></i>已报班学生
                </div>
                <div class="active content">
                    <table class="ui celled table segment">
                        <thead>
                            <tr>
                                <th class="wide two"></th>
                                <th class="wide three">姓名</th>
                                <th class="wide four">报班时间</th>
                                <th class="wide four">支付情况</th>
                                <th class="wide three"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="id">
                                <td>
                                    <img class="ui avatar image" src="images/portrait/0.jpg"/>
                                </td>
                                <td>王子骁</td>
                                <td>2013-12-12</td>
                                <td><div class="ui checkbox" name="join-pay">
                                    <input type="checkbox">
                                    <label>已经支付</label>
                                </div></td>
                                <td>
                                    <div class="red button ui mini out-class" affect='id'>退班</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="ui mini button" id="course-detail-new-student" for="detail-add" type="student"><i class="browser icon"></i> 报班新生</div>
            </div>
            <!--partial-->

            <!--partial-->
            <div class="item teacher" id="teacher">
                <div class="title">
                    <i class="dropdown icon"></i>授课老师
                </div>
                <div class="content">
                    <table class="ui celled table segment">
                        <thead>
                        <tr>
                            <th class="wide seven">姓名</th>
                            <th class="wide six">授课内容</th>
                            <th class="wide three"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="teacher_id">
                            <td>Mary</td>
                            <td>听力</td>
                            <td>
                                <div class="red button ui mini out-teacher" affect="teacher_id">删除</div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="ui mini button" for="detail-add" type="teacher"><i class="add icon"></i> 添加老师</div>
            </div>
            <!--partial-->

            <!--template-->
            <div class="item recommend" id="recommend">
                <div class="title">
                    <i class="dropdown icon"></i>推荐报班
                </div>
                <div class="content">
                    <table class="ui table segment">
                        <tr id="super-wzx">
                            <td class="two wide">
                                <img class="circular ui image mini portrait" src="images/portrait/0.jpg" />
                                <p class="name">王子骁</p>
                            </td>
                            <td class="two wide">
                                <p class="type">潜在客户</p>
                                <p>七宝中学</p>
                                <p>高二</p>
                                <p>17岁</p>
                            </td>
                            <td class="five wide">
                                <div class="ui blue labels small">
                                    <a class="ui label">
                                        托福
                                    </a>
                                    <a class="ui label">
                                        雅思
                                    </a>
                                    <a class="ui label">
                                        SAT
                                    </a>
                                </div>
                                <p class="parent"><span>监护人:</span><span>13901111123(王先生)</span></p>
                                <p class="phone"><span>联系电话:</span><span>13918502286</span></p>
                                <p class="consult-time"><span>上次咨询:</span><span>2013-11-11 16:00</span></p>
                            </td>
                            <td class="two wide">
                                <p class="maybe-know">推荐人</p>
                                <p><span>张三</span></p>
                            </td>
                            <td class="three wide">
                                <p class="recommend">可能认识</p>
                                <p><span>李四</span><span>王八</span><span>白一</span></p>
                            </td>
                            <td class="three wide">
                                <div class="ui mini button teal join-class">
                                    报班
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <!--template-->

        </div>
    </div>
</article>

<footer class="control-log" id="control-log" state="close">
    <i class="icon double angle right"></i>
    操作记录
</footer>

<footer class="back-index-log" id="back-index-log" >
    <ul>
       <li>2013-10-13 13:00 开始课程 1</li>
       <li>2013-10-13 12:00 开始课程 21</li>
    </ul>
</footer>

<!--new partial-->
<!--报班-->
<section class="detail-add" type="student">
    <div class="inner">
        <i class="remove icon detail-add-close"></i>
        <p>为新生报班</p>
        <div class="ui mini icon input autoComplete">
            <input placeholder="学生姓名..." type="text" autocomplete="students">
            <i class="search icon"></i>
        </div>
        <div class="table-wrap">
            <table class="ui celled table small segment">
            <thead>
                <tr>
                    <th class="wide four">名字</th>
                    <th class="wide six">支付情况</th>
                    <th class="wide six">是否报班</th>
                </tr>
            </thead>
            <tbody>
                <tr id="wzx">
                    <td>王子骁</td>
                    <td><div class="ui checkbox" name="pay">
                        <input type="checkbox"><label>已经支付</label>
                    </div></td>
                    <td><div class="ui checkbox" name="join">
                        <input type="checkbox" ><label>为他/她报班</label>
                    </div></td>
                </tr>
                <tr id="wzx1">
                    <td>王子骁</td>
                    <td><div class="ui checkbox" name="pay">
                        <input type="checkbox"><label>已经支付</label>
                    </div></td>
                    <td><div class="ui checkbox" name="join">
                        <input type="checkbox" ><label>为他/她报班</label>
                    </div></td>
                </tr>
                <tr id="wzx2">
                    <td>王子骁</td>
                    <td><div class="ui checkbox" name="pay">
                        <input type="checkbox"><label>已经支付</label>
                    </div></td>
                    <td><div class="ui checkbox" name="join">
                        <input type="checkbox" ><label>为他/她报班</label>
                    </div></td>
                </tr>
                <tr id="wzx3">
                    <td>王子骁</td>
                    <td><div class="ui checkbox" name="pay">
                        <input type="checkbox"><label>已经支付</label>
                    </div></td>
                    <td><div class="ui checkbox" name="join">
                        <input type="checkbox" ><label>为他/她报班</label>
                    </div></td>
                </tr>
            </tbody>
            </table>
        </div>
        <div class="ui button teal ok" for="student">完成报班</div>
        <a class="add-item" type="student">没有找到他/她？<span>新建学生</span></a>
    </div>
</section>


<!--new partial-->
<!--为课程添加老师-->
<section class="detail-add" type="teacher">
    <div class="inner">
        <i class="remove icon detail-add-close"></i>
        <p>添加老师</p>
        <div class="ui mini icon input autoComplete">
            <input placeholder="老师姓名..." type="text" autocomplete="teachers">
            <i class="search icon"></i>
        </div>
        <div class="table-wrap">
            <table class="ui celled table small segment">
                <thead>
                <tr>
                    <th class="wide four">名字</th>
                    <th class="wide six">所教课程</th>
                    <th class="wide six">选择</th>
                </tr>
                </thead>
                <tbody>
                <tr id="teacher-id">
                    <td>Mary</td>
                    <td>
                        <input type="text">
                    </td>
                    <td><div class="ui checkbox" name="choose">
                        <input type="checkbox" ><label>选择该老师</label>
                    </div></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="ui button teal ok" for="teacher">完成添加</div>
        <a class="add-item" type="teacher">没有找到他/她？<span>新建老师</span></a>
    </div>
</section>

<!--old partial-->
<!--编辑课程信息-->
<section class="back-index-add" name="course">
    <div class="inner">
        <i class="remove icon"></i>
        <p>编辑课程信息</p>
        <div id="new-class" class="tab-block" from="course">
            <div class="left-part">
                <div class="select">
                    <div class="ui selection dropdown" id="add-class-choose-institution">
                        <span class="text" value="1">上海牛叉牛排烹饪学校</span>
                        <div class="menu">
                            <div class="item" value="1"> 上海牛叉牛排烹饪学校 </div>
                            <div class="item" value="3"> 上海牛叉牛排烹饪学校-普陀校区 </div>
                            <div class="item" value="4"> 上海牛叉牛排烹饪学校-西宁校区 </div>
                            <div class="item" value="5"> 上海牛叉牛排烹饪学校-闵行校区 </div>
                        </div>
                        <i class="sitemap icon"></i>
                    </div>
                    <i class="sitemap icon"></i>
                </div>
                <div class="ui left icon input">
                    <input placeholder="课程名称..." type="text">
                    <i class="browser icon"></i>
                </div>
                <div class="course-desc">
                    <textarea placeholder="课程描述..."></textarea>
                    <i class="book icon"></i>
                </div>
                <div class="ui left icon input">
                    <input placeholder="预计课时数..." type="text">
                    <i class="time icon"></i>
                </div>
                <div class="ui left icon input">
                    <input placeholder="预计报名人数..." type="text">
                    <i class="users icon"></i>
                </div>
                <div class="ui left icon input calendar">
                    <input placeholder="课程开始时间..." type="text" readonly id="course-begin-date">
                    <i class="calendar icon"></i>
                </div>
                <div class="ui left icon input calendar">
                    <input placeholder="课程结束时间..." type="text" readonly id="course-end-date">
                    <i class="calendar icon"></i>
                </div>
            </div>
            <div class="right-part">
                <div class="ui left icon input">
                    <input placeholder="课程代号..." type="text">
                    <i class="globe icon"></i>
                </div>
                <div class="ui left icon input specialInput labelForm autoComplete">
                    <ul>
                        <li><input type='text' placeholder="标签..." id="new-class-label" autocomplete="tags"/></li>
                    </ul>
                    <i class="tag icon"></i>
                </div>

            </div>
        </div>
        <div class="ui red button">
            添加
        </div>
    </div>
</section>

<!--old partial-->
<!--add student-->
<section class="back-index-add" name="student">
    <div class="inner">
        <i class="remove icon"></i>
        <p>新建学生</p>
        <div class="left-part">
            <div class="portrait">
                <img class="ui circular image " src="images/portrait/1.jpg">
            </div>
            <div class="ui left icon input">
                <input placeholder="姓名..." type="text">
                <i class="user icon"></i>
            </div>
            <div class="sex stop">
                <div class="ui radio checkbox">
                    <input name="sex" checked="checked" type="radio">
                    <label>男</label>
                </div>
                <div class="ui radio checkbox">
                    <input name="sex" type="radio">
                    <label>女</label>
                </div>
            </div>
            <div class="ui left icon input calendar">
                <input placeholder="出生年月..." type="text" readonly id="born-date">
                <i class="calendar icon"></i>
            </div>
            <div class="ui left icon input">
                <input placeholder="就读学校..." type="text">
                <i class="building icon"></i>
            </div>
            <div class="ui left icon input calendar">
                <input placeholder="毕业年限..." type="text" readonly id="graduation-date">
                <i class="empty bookmark icon"></i>
            </div>
        </div>
        <div class="right-part">
            <div class="ui left icon input">
                <input placeholder="邮件地址..." type="text">
                <i class="mail outline icon"></i>
            </div>
            <div class="ui left icon input">
                <input placeholder="联系电话..." type="text">
                <i class="phone icon"></i>
            </div>
            <div class="ui left icon input">
                <input placeholder="联系地址..." type="text">
                <i class="home icon"></i>
            </div>
            <div class="ui left icon input">
                <input placeholder="监护人..." type="text">
                <i class="male icon"></i>
            </div>
            <div class="ui left icon input">
                <input placeholder="监护人电话..." type="text">
                <i class="mobile icon"></i>
            </div>
            <div class="ui left icon input specialInput labelForm autoComplete">
                <ul>
                    <li><input type='text' placeholder="标签..." id="autoC2" autocomplete='tags'/></li>
                </ul>
                <i class="tag icon stop"></i>
            </div>
            <div class="ui left icon input autoComplete">
                <input placeholder="推荐人..." id="autoC3" type="text" autocomplete='students'>
                <i class="smile icon"></i>
            </div>
            <div class="ui checkbox stop">
                <input name="fun" type="checkbox" checked>
                <label>同时开设学生账号</label>
            </div>
            <div class="ui red button">
                添加
            </div>
        </div>
    </div>
</section>

<!--old partial-->
<!--新建老师-->
<section class="back-index-add" name="teacher">
    <div class="inner">
        <i class="remove icon"></i>
        <p>新建老师</p>
        <div class='whole-block'>
            <div class="ui left icon input">
                <input placeholder="姓名..." type="text">
                <i class="user icon"></i>
            </div>
            <div class="sex">
                <div class="ui radio checkbox">
                    <input name="sex" checked="checked" type="radio">
                    <label>男</label>
                </div>
                <div class="ui radio checkbox">
                    <input name="sex" type="radio">
                    <label>女</label>
                </div>
            </div>
            <div class="ui left icon input">
                <input placeholder="联系电话..." type="text">
                <i class="phone icon"></i>
            </div>
            <div class="ui left icon input">
                <input placeholder="邮件地址..." type="text">
                <i class="mail outline icon"></i>
            </div>
            <div class="ui red button">
                添加
            </div>
        </div>
    </div>
</section>

<%= render partial:'shares/log_footer'%>
<% content_for :javascript_includes do%>
<%= javascript_include_tag "BACK_index.js"%>
<%= javascript_include_tag "BACK_rightList.js"%>
<%= javascript_include_tag "BACK_course.js"%>
<%end%>