<% if @post %>
    <div class="homework-info post" id="post" post="<%= @post.id%>">
      <h3><i class="empty flag icon"></i> <%= @post.title %></h3>

      <p><%= @post.content %></p>
      <div class="attachments">
        <% @post.attachments.each do |attacth| %>
            <a href="<%= attacth.path %>" data-content="我的账户" data-variation="inverted"><i class="icon attachment"></i><%= attacth.name %>
            </a>
        <% end %>
      </div>
      <label>发帖人:<span><%= @post.poster.name %></span></label>
      <label>发帖日期:<span><%= @post.post_time %></span></label>


    </div>
    <hr/>
    <hr/>
    <div id="comment-pre-holder"></div>
    <% @post.comments.each do |comment| %>
        <div class="item">
          <div class="basic-info">
            <img class="ui image avatar" src="<%= comment.commenter.image_url %>"/>

            <p><%= comment.commenter.name %></p>

            <p><%= comment.comment_time %></p>
            <% if comment.who_answer %>
                <label class="teacher-answer"><%= comment.who_answer %></label>
            <% end %>
            <p><%= comment.content %></p>
          </div>
        </div>
    <% end %>
    <div class="item replay-input">
      <textarea placeholder="在此输入评论..." id="comment"></textarea>

      <div class="ui button fluid black icon labeled" onclick="comment()"><i class="icon edit"></i>添加回复</div>
    </div>
<% end %>
