<div class="left">
  <% if @posts %>
      <div class="ui accordion" id="accordion">
      <% @menus.each do |menu| %>
            <div class="title post-menu-a <%= 'pin' if menu.is_pin %>" pin="<%= menu.is_pin %>" type="<%= menu.value %>">
              <i class="dropdown icon"></i>
              <%= menu.display %>
            </div>
            <div class="content">
              <% if @menu_type==menu.value %>
                  <%= render 'list_item' %>
              <% end %>
            </div>
      <% end %>
      </div>
  <% end %>
</div>

