<h1>Listing posts</h1>
<h2>当前课堂:</h2><p id="course" course="<%= @course.id %>"><%= @course.name %></p>
<article class="back-index-main front-index-main" id="front-index-main">
  <%= render partial: 'header' %>
  <div class="post-homework" id="post-home">
    <%= render partial: 'side_list' %>

    <div class="right" id="post-content">


    </div>
  </div>
</article>
<div class="homework-post-add" id="homework-post-add">
  <div class="inner">
    <i class="icon remove"></i>

    <p>新建帖子</p>

    <div>
      <label>帖子标题</label>

      <div class="ui input fluid ">
        <input type="text" name="title" class="homework-input"/>
      </div>
      <label>帖子内容</label>
      <textarea name='content' class="homework-input"></textarea>
      <!--<label>截止日期</label>-->
      <!--<div class="ui input focus fluid ">-->
      <!--<input type="text" name="deadline" readonly id="homework-deadline" class="homework-input" >-->
      <!--</div>-->
    </div>
    <div id="create-homework-button" class="ui button red mini">
      新建
    </div>
  </div>
</div>
<% content_for :javascript_includes do %>
    <%= javascript_include_tag "Homework-chart.js"%>
    <%= javascript_include_tag "manage.source.base.js" %>
    <%= javascript_include_tag "manage.post.base.js" %>
    <%= javascript_include_tag "FRONT_index.js"%>
    <%= javascript_include_tag "FRONT_student.js"%>
<% end %>
