<h1>Listing posts</h1>
<h2>当前课堂:</h2><p id="course" course="<%= @course.id%>"><%= @course.name%></p>
<%= render partial:'shares/bbs_aside'%>
<%= render partial:'header' %>
<%= render partial:'side_list' %>

<p>帖子内容</p>
<div id="post-content" style="float: left">
  
</div>

<% content_for :javascript_includes do%>
<%= javascript_include_tag "manage.source.base.js"%>
<%= javascript_include_tag "manage.post.base.js"%>
<%= javascript_include_tag "FRONT_student.js"%>
<%end%>
