<h1>Listing cources</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Name</th>
    <th>Description</th>
    <th>Lesson</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Expect number</th>
    <th>Actual number</th>
    <th>Sub number</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cources.each do |cource| %>
  <tr>
    <td><%= cource.type %></td>
    <td><%= cource.name %></td>
    <td><%= cource.description %></td>
    <td><%= cource.lesson %></td>
    <td><%= cource.start_date %></td>
    <td><%= cource.end_date %></td>
    <td><%= cource.expect_number %></td>
    <td><%= cource.actual_number %></td>
    <td><%= cource.sub_number %></td>
    <td><%= cource.user %></td>
    <td><%= link_to 'Show', cource %></td>
    <td><%= link_to 'Edit', edit_cource_path(cource) %></td>
    <td><%= link_to 'Destroy', cource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cource', new_cource_path %>
