<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @achievement.type %>
</p>

<p>
  <b>Achievementstring:</b>
  <%= @achievement.achievementstring %>
</p>


<%= link_to 'Edit', edit_achievement_path(@achievement) %> |
<%= link_to 'Back', achievements_path %>
