<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @material.name %>
</p>

<p>
  <b>Description:</b>
  <%= @material.description %>
</p>

<p>
  <b>Status:</b>
  <%= @material.status %>
</p>

<p>
  <b>Materialable:</b>
  <%= @material.materialable %>
</p>

<p>
  <b>Material:</b>
  <%= @material.material %>
</p>


<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materials_path %>
