<!DOCTYPE html>
<html>
     <head>
          <title>Goschool</title>
          <%= stylesheet_link_tag    "application", :media => "all" %>
          <%= csrf_meta_tags %>
     </head>
     <body>
          <%= render partial:'shares/left_aside'%>
          <%= yield %>
          <div id="autoComplete-call" class="autoComplete-call"><ul></ul></div>
          <div class="message-box" id="MessageBox">
               <p></p>
          </div>
     </body>
     <%= javascript_include_tag "application" %>
     <%= yield :javascript_includes%>
</html>
